<div style="background-color:#000000">
  <mat-toolbar style="background-color: black;" style="padding:10px 40px">
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->

    <img src="assets/Logo.png" style="max-height: 40px;" class="m-4">
    <a routerLink="/" class="text-amber-500 font-bold text-4xl" style="text-decoration:none">MIDAS</a>
    <div class="ml-10 p-3 my-5"><a [routerLink]="['calendar']" class="text-white font-bold text-2xl" style="text-decoration:uppercase" ><img src="assets/CalendarIcon.jpeg" style="width: 35px;" /> </a></div>
    <span>|</span>
    <div class="p-3 my-5"><a routerLink="/" class="text-white font-bold text-1xl" style="text-decoration:none">Journalizing</a></div>

    @if(isLoggedIn()){

    <div class="ml-auto">
      <div class="flex gap-2 items-center">
        <a [matMenuTriggerFor]="profileDropdownMenu" class="flex gap-2 cursor-pointer items-center">
          <!-- <div class="bg-amber-400 text-white font-bold shadow-md rounded-full w-5 h-5 p-4 flex justify-center items-center">
            {{userDetail!.username.charAt(0).toUpperCase()}}
          </div> -->

          <img src="assets/Male Icon.png" class="py-10" style="max-width: 40px; margin:auto">
          <div class="text-white flex flex-col pr-5">
            <h1 class="p-0 m-0 font-medium">
              {{userService.user.firstname}} {{userService.user.lastname}}
            </h1>
            <p class="p-0 pt-1 m-0 font-medium text-xs">
              {{userService.user.role}}
            </p>
          </div>
        </a>
        <mat-menu #profileDropdownMenu="matMenu" style="background-color: #121316">
          <!-- <button [routerLink]="['account',userDetail.id]" mat-menu-item> -->
          <button [routerLink]="['users']" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>
              View Profile
            </span>
          </button>

          <!-- Logout -->
          <button (click)="logout()" mat-menu-item>
            <mat-icon>
              logout
            </mat-icon>
            <span>Logout</span>
          </button>

          <!-- Change Password -->
          <button [routerLink]="['change-password']" mat-menu-item>
            <mat-icon>
              password
            </mat-icon>
            <span>
              Change Password
            </span>
          </button>
        </mat-menu>

        <!-- Admin Options -->
         <!-- Users -->
        <a *ngIf="userService.user.role > 0" mat-button routerLink="/account" class="px-4">
          <!-- <mat-icon style="font-size:25px" class="pr-6"> -->
            <mat-icon>
            groups
          </mat-icon>
          Users
        </a>

        <!-- Accounts -->
        <a *ngIf="userService.user.role > 0" mat-button routerLink="/chart" class="px-4">
            <mat-icon>
            paid
          </mat-icon>
          Accounts
        </a>

        <a mat-button (click)="logout()" class="px-4">
            <mat-icon>
              logout
            </mat-icon>
          Logout
        </a>

      </div>
    </div>
    }@else{
    <div>
      <div class="flex gap5 items-center">
        <a mat-button routerLink="/login">
          Login
        </a>

        <a mat-button routerLink="/register">
          Register
        </a>

      </div>
    </div>
    }

  </mat-toolbar>
</div>
