<div style="background-color:#242525">
  <div class="border-slate-100 border-collapse p-3 fl gap-2"
    style="width: 80%; margin:auto; text-align: left; color: white; background-color:#242525">
    <div class="flex justify-end py-5">
      <button data-modal-target="default-modal" data-modal-toggle="default-modal" class=" border-collapse text-white border-black py-2 px-2 my-1 bg-amber-700 font-bold" type="button">
        Toggle modal
      </button>


    </div>
    <table table class="text-left w-full border-collapse table">
      <thead style="background-color: #1b1c1f;">
        <tr>
          <th class="border-collapse p-2">Username</th>
          <th class="border-collapse p-2">Email</th>
          <th class="border-collapse p-2">First Name</th>
          <th class="border-collapse p-2">Last Name</th>
          <th class="border-collapse p-2">Address</th>
          <th class="border-collapse p-2">Date Of Birth</th>
          <th class="border-collapse p-2">Edit</th>
          <th class="border-collapse p-2">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-collapse p-2">Username</td>
          <td class="border-collapse p-2">Email</td>
          <td class="border-collapser p-2">First Name</td>
          <td class="border-collapsep-2">Last Name</td>
          <td class="border-collapse p-2">Address</td>
          <td class="border-collapse p-2">Date Of Birth</td>
          <td class="border-collapse p-3">
            <button class="w-full border-collapse text-white border-black py-1 px-1 my-1 bg-amber-700 font-bold">
              Edit
            </button>
          </td>
          <td class="border-collapse p-3">
            <button
              class="w-full border-collapse text-white border-black py-1 px-1 my-1 bg-slate-700 font-bold">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



