<div class="border-slate-100 border-collapse p-3 fl gap-2"
  style="width: 80%; margin:auto; text-align: left; color: white; background-color:#242525">
  <div class="flex justify-end py-5">
    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" (click)="clickAddUser()"
      class=" border-collapse text-white rounded-sm border-black py-2 px-2 my-1 bg-amber-700 font-bold" type="button">
      Add User
    </button>


  </div>
  <table table class="text-left w-full border-collapse">
    <thead class="bg-grey-400" style="background-color: #1b1c1f;">
      <tr>
        <th class="border-collapse p-2">User ID</th>
        <th class="border-collapse p-2">Username</th>
        <th class="border-collapse p-2">Email</th>
        <th class="border-collapse p-2">First Name</th>
        <th class="border-collapse p-2">Last Name</th>
        <th class="border-collapse p-2">Street</th>
        <th class="border-collapse p-2">Zip</th>
        <th class="border-collapse p-2">State</th>
        <th class="border-collapse p-2">Date Of Birth</th>
        <th class="border-collapse p-2">Edit</th>
        <th class="border-collapse p-2">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of userData">
        <td class="border-collapse p-2">{{row.id}}</td>
        <td class="border-collapse p-2">{{row.username}}</td>
        <td class="border-collapse p-2">{{row.email}}</td>
        <td class="border-collapser p-2">{{row.firstname}}</td>
        <td class="border-collapsep-2">{{row.lastname}}</td>
        <td class="border-collapse p-2">{{row.street}}</td>
        <td class="border-collapse p-2">{{row.zip}}</td>
        <td class="border-collapse p-2">{{row.state}}</td>
        <td class="border-collapse p-2">DOB</td>
        <td class="border-collapse p-3">
          <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" (click)="onEdit(row)"
            class="w-full border-collapse rounded-sm text-white border-black py-1 px-1 my-1 bg-amber-700 font-bold">
            Edit
          </button>
        </td>
        <td class="border-collapse p-3">
          <button (click)="deleteUser(row)"
            class="w-full border-collapse rounded-sm text-white border-black py-1 px-1 my-1 bg-slate-700 font-bold">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-lg max-h-full">
    <!-- Modal content -->
    <div class="relative rounded-lg shadow text-white" style="background-color: #1b1c1f;">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-100 dark:text-white">
          Add New User
        </h3>
        <button type="button" id="cancel"
          class="text-gray-100 bg-transparent hover:bg-gray-200 hover:text-gray-100 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crud-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="formValue">
        <div class="grid gap-4 mb-4 grid-cols-6">

          <!-- FirstName -->
          <div class="col-span-6">
            <label for="firstname" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">First Name</label>
            <input type="text" formControlName="firstname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter First Name" required="">
          </div>

          <!-- LastName -->
          <div class="col-span-6">
            <label for="lastname" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Last Name</label>
            <input type="text" formControlName="lastname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Last Name" required="">
          </div>

          <!-- Email -->
          <div class="col-span-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Email Address</label>
            <input type="email" formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Your E-mail Address" required="">
          </div>

          <div class="col-span-6">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Phone Number</label>
            <input type="text" formControlName="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Your E-mail Address" required="">
          </div>

          <div class="col-span-6">
            <label for="dob" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Date Of Birth</label>
          </div>

        <div class="col-span-6 sm:col-span-2">
            <select id="month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option selected="">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>

        <div class="col-span-6 sm:col-span-2">
          <input type="number" min="1" max="31" name="day" id="day"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Day" required="">
        </div>

        <div class="col-span-6 sm:col-span-2">
          <input type="number" min="1920" max="2020" name="year" id="year"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Year" required="">
        </div>



        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
          </div>
          <input datepicker id="default-datepicker" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
        </div>






          <!-- Street Address -->
          <div class="col-span-6">
            <label for="street" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Street Address</label>
            <input type="text" formControlName="street"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Your E-mail Address" required="">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="zip" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Zip Code</label>
            <input type="text" formControlName="zip"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Zip Code" required="">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="state" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">State</label>
            <input type="text" formControlName="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="State" required="">
          </div>


          <!-- Password
          <div class="col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Password</label>
            <input type="password" name="password" id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="" required="">
          </div> -->

          <!-- Confirm Password
          <div class="col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Password</label>
            <input type="password" name="cpassword" id="cpassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="" required="">
          </div>  -->



          <!-- <div class="col-span-2 sm:col-span-1">
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Price</label>
                        <input type="number" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="role" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Role</label>
                        <select id="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Role</option>
                            <option value="Admin">Admin</option>
                            <option value="Manager">Manager</option>
                            <option value="User">User</option>
                        </select>
                    </div> -->


          <!-- Long Entries

                    <div class="col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Address</label>
                        <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Address"></textarea>
                    </div> -->
        </div>


          <button type="submit" (click)="postUserDetails()" *ngIf="showAdd"
            class="w-full text-white bg-amber-600 hover:bg-amber-400 font-medium rounded-sm px-5 py-2.5 my-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Add New User
          </button>
          <button type="submit" (click)="updateUserDetails()" *ngIf="showEdit"
            class="w-full text-white bg-amber-600 hover:bg-amber-400 font-medium rounded-sm px-5 py-2.5 my-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Edit User
          </button>
          <button type="reset"
            class="w-full text-white bg-slate-600 hover:bg-slate-400 font-medium rounded-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Clear Entry
          </button>


      </form>
    </div>
  </div>
</div>
