
<div tabindex="1" aria-hidden="true" data-testid="register-modal"
  class="overflow-y-auto overflow-x-hidden flex m-10 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative pb-4 w-full max-h-full " style="width: 40%; max-width:600px" data-testid="register-box-modal">
    
    <!-- Modal content -->
    <div class="relative rounded-lg shadow text-white" style="background-color: #1b1c1f;" data-testid="register-box-modal-inner">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600" data-testid="register-box-title">
        <h3 class="text-lg font-semibold text-gray-100 dark:text-white" data-testid="register-box-title-text">
          Register
        </h3>

        <button type="button" id="cancel" data-testid="register-box-modal-close-button-x"
          class="text-gray-100 bg-transparent hover:bg-gray-200 hover:text-gray-100 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crud-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" data-testid="register-box-close-button-x-svg"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="formValue">
        <div class="grid gap-3 mb-4 grid-cols-6">

          <!-- Edit username and pass -->


          <div class="col-span-6" *ngIf="showEdit">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Username</label>
            <input type="text" formControlName="username"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter First Name" required="">
          </div>

          <!-- FirstName -->
          <div class="col-span-6 mt-1">
            <label for="firstname" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">First
              Name*</label>
            <input type="text" formControlName="firstname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter First Name" required="">

              <div class="col-span-6 mt-1" *ngIf="formValue.controls['firstname'].invalid && formValue.controls['firstname'].touched || formValue.controls['firstname'].dirty">
                <span class="text-red-600" *ngIf="formValue.controls['firstname'].errors?.['required']">
                  You must enter your first name!
                </span>

              </div>
          </div>


          <!-- LastName -->
          <div class="col-span-6">
            <label for="lastname" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Last Name</label>
            <input type="text" formControlName="lastname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Last Name" required="">

              <div class="col-span-6 mt-1" *ngIf="formValue.controls['lastname'].invalid && formValue.controls['lastname'].touched || formValue.controls['lastname'].dirty">
                <span class="text-red-600" *ngIf="formValue.controls['lastname'].errors?.['required']">
                  You must enter your last name!
                </span>
              </div>
          </div>


          <!-- Email -->
          <!-- <div class="col-span-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Email
              Address</label>
            <input type="email" formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Your E-mail Address" required="">

              <div class="col-span-6 mt-1" *ngIf="formValue.controls['email'].invalid && formValue.controls['email'].touched || formValue.controls['email'].dirty">
                <span class="text-red-600" *ngIf="formValue.controls['email'].errors?.['required']">
                  You must enter your email!
                </span>
                <span class="text-red-600" *ngIf="formValue.controls['email'].errors?.['email']">
                  You must a valid e-mail address!
                </span>
              </div>    Damien: Commented this out as the user should only provide first/last name and password, then the username is created from that.
          </div> --> 


          <!-- Password -->
          <div class="col-span-6 gap-0" *ngIf="true">
            <label for="name" class="block mb-0 text-sm font-medium text-gray-100 dark:text-white">Password</label>
          </div>
          <div class="col-span-6 sm:col-span-5 gap-0 mb-1 mr-2" *ngIf="true">
            <input type="{{passwordHide ? 'password':'text'}}" formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="*******" required="">
          </div>
          <div class="col-span-6 sm:col-span-1 pt-2 pl-1" *ngIf="true">
            <mat-icon (click)="passwordHide = !passwordHide" matSuffix>{{passwordHide ?
              'visibility_off':'visibility'}}</mat-icon>
          </div>
          <div class="col-span-6" *ngIf="formValue.controls['password'].invalid && formValue.controls['password'].touched || formValue.controls['password'].dirty">
            <span class="text-red-600" *ngIf="formValue.controls['password'].errors?.['required']">
              Your must enter a password
            </span>
            <span class="text-red-600" *ngIf="formValue.controls['password'].errors?.['minlength']">
              Your must be 8 characters long!
            </span>
          </div>



          <!-- Confirm Pass -->
          <div class="col-span-6 gap-0" *ngIf="true">
            <label for="name" class="block mb-0 text-sm font-medium text-gray-100 dark:text-white">Confirm
              Password</label>
          </div>
          <div class="col-span-6 sm:col-span-5 gap-0 mb-1 mr-2" *ngIf="true">
            <input type="{{confirmPasswordHide ? 'password':'text'}}" formControlName="confirmPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="*******" required="">
          </div>
          <div class="col-span-6 sm:col-span-1 pt-2 pl-1" *ngIf="true">
            <mat-icon (click)="confirmPasswordHide = !confirmPasswordHide" matSuffix>{{confirmPasswordHide ?
              'visibility_off':'visibility'}}</mat-icon>
          </div>
          <div class="col-span-6" *ngIf="formValue.controls['confirmPassword'].invalid && formValue.controls['confirmPassword'].touched || formValue.controls['confirmPassword'].dirty">
            <span class="text-red-600" *ngIf="formValue.controls['confirmPassword'].errors?.['required']">
              Your must enter a password confirmation!
            </span>
          </div>



          <div class="col-span-6">
            <label for="role" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Role</label>
            <select formControlName="role" id="role"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected="">Select Role</option>
              <option value="UserRole.Administrator">Admin</option>
              <option value="UserRole.Manager">Manager</option>
              <option value="UserRole.Accountant">Accountant</option>
            </select>
          </div>

          <div class="col-span-6">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Phone Number</label>
            <input type="text" formControlName="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Your E-mail Address" required="">
          </div>

          <div class="col-span-6">
            <label for="dob" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Date Of Birth</label>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <select id="month"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected="">Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <input type="number" min="1" max="31" name="day" id="day"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Day" required="">
          </div>

          <div class="col-span-6 sm:col-span-2">
            <input type="number" min="1920" max="2020" name="year" id="year"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Year" required="">
          </div>



          <!-- Street Address -->
          <div class="col-span-6">
            <label for="street" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Street
              Address</label>
            <input type="text" formControlName="street"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Your E-mail Address" required="">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="zip" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">Zip Code</label>
            <input type="text" formControlName="zip"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Zip Code" required="">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="state" class="block mb-2 text-sm font-medium text-gray-100 dark:text-white">State</label>
            <input type="text" formControlName="state"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="State" required="">
          </div>

        </div>

        <div *ngIf="userService.error$" 
          class="error-message" data-testid="register-box-error-messsage"
          style="background-color: #FEE2E2; color: #991B1B; padding: 12px; border-radius: 4px; margin-top: 8px; display:block">
          {{ userService.error$ | async}}
        </div>


        <button type="submit" [disabled]="!formValue.valid" (click)="submitApplication()"
          class="disabled:bg-amber-300 w-full text-white bg-amber-600 hover:bg-amber-400 font-medium rounded-sm px-5 py-2.5 my-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Register
        </button>

        <button type="reset"
          class="w-full text-white bg-slate-600 hover:bg-slate-400 font-medium rounded-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Clear Entry
        </button>


      </form>
    </div>
  </div>
</div>
